// Navbar for each page
$main-font : 'Inter', sans-serif;
$accent-color : #65dfc9;
$accent-color2 : #6cdbeb;
$btn-color1 : #7360D2;

body{
  margin: 0;
  padding: 0;
  font-family: $main-font;
  overflow-x: hidden;
}

@mixin side-bar-btn {
  button{
    margin-top: 3px;
    background: none;
    border: none;
    border-radius: 2rem;      
    padding: 10px 20px 10px 20px;

    a{
      text-decoration: none;
      color: black;
      font-weight: bolder;
    }

    &:hover{
      cursor: pointer;
      transition-duration: 0.3s;
      background: $btn-color1;

      a{
        color: white;
      }
    }
  }
}

@mixin icon-btn{
  button{
    margin-left: auto;

    width: 50px;
    background: none;
    border: none;

    margin-right: 30px;
    img{
      height: 40px;
      filter: invert(30%);
    }

    &:hover{
      cursor: pointer;
    }
  }
}

.navbar-light{
  width: 100%;
  position: fixed;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  z-index: 200;
  top: 0;
  //border-bottom: 1px solid rgb(212, 211, 211);
  font-size: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  @include icon-btn;

  a{
    text-decoration: none;
  }
  
}

#logo-combined{
  display: flex;
  flex: 2;

  justify-content: center;  
}
#logo{
  color:black;
  filter: invert(10%);
}

#logo-mid{
  color: rgb(3, 99, 3);
}

// Side Bar
#sidebar{
  //height: 80vh;
  width: 300px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  float: right;
  position: fixed;
  right: 0;
  transition-duration: 0.2s;
  border-radius: 20px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;

  #profile-details{

    margin-top: 40px;
    background: rgb(255, 249, 249);
    width: 150px;
    padding: 20px;
    text-align: center;
    border-radius: 2rem;
    border: 3px solid royalblue;
    cursor: pointer;
    
    img{
      border-radius: 50%;
    }
    p{
      font-size: 20px;
    }
  
  }

  @include side-bar-btn;

  #menu-bar{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%; 
    display: flex;
    flex-direction: column;
  
    align-items: center;

    button{
      border-radius: 0.3rem;
      font-size: 15px;
      background: none;
      width: 40%;   
      margin-bottom: 30px;
    
      a{
        color: black;
        filter: invert(30%);
      }

      &:hover{
        background: $btn-color1;
        transition-duration: 0.4s;
        a{
          color: white;
          filter: invert(0%);
        }
      }
    }
  }
}

.hidden{
  transform: translateX(300px);
  margin-right: 20px;
}

.visible{
  transform: translateX(0px);
  margin-right: 20px;
} 

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar-light, .navbar-dark{
    align-items: center;
    justify-content: center;
  }

  #sidebar{
    width: 400px;
  }
  
  .hidden{
    transform: translateX(400px);
  }
}
